name: Test

on: [push]

jobs:
  test:
    name: Test on ruby ${{ matrix.ruby_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version:
          - 2.4.9
          - 2.5.7
          - 2.6.5
    steps:
    - uses: actions/checkout@v1
    - name: Set up diff-pdf
      run: |
        sudo apt-get install make automake g++ libpoppler-glib-dev poppler-utils libwxgtk3.0-dev
        git clone https://github.com/vslavik/diff-pdf.git /tmp/diff-pdf-src
        cd /tmp/diff-pdf-src
        ./bootstrap && ./configure && make && sudo make install
    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - name: Build and test with Rake
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake test
