name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test on ruby ${{ matrix.ruby_version }} and prawn ${{ matrix.prawn_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version:
          - 2.5
          - 2.6
          - 2.7
          - 3.0
        prawn_version:
          - 2.3
          - 2.4
        exclude:
          - ruby_version: 3.0
            prawn_version: 2.3

    steps:
    - uses: actions/checkout@v1

    - name: Set up diff-pdf
      run: |
        sudo apt-get update
        sudo apt-get install make automake g++ libpoppler-glib-dev poppler-utils libwxgtk3.0-dev
        git clone https://github.com/vslavik/diff-pdf.git -b v0.4.1 --depth 1 /tmp/diff-pdf-src
        cd /tmp/diff-pdf-src
        ./bootstrap && ./configure && make && sudo make install

    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install --gemfile gemfiles/prawn-${{ matrix.prawn_version }}.gemfile --jobs 4 --retry 3

    - name: Run Tests
      run: bundle exec rake test
